name: CI

on:
  push:
    branches: ["main", "feature/**"]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./test.sh
      - run: docker build -t cicd-demo-app .

